{% extends 'dry.html' %}
{% block title %}
    Welconme to Phone Tracker
{% endblock title %}

{% block body %}
<div class="container my-4">
<form action="submitForm" method="POST">{% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter Number</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "text" required>
      <div id="emailHelp" class="form-text">We'll never share your personal number with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock body %}
<!-- <form action="submitForm" method="POST"> {% csrf_token %}
    <input type="text" name="text">
    <button type="submit">Click me</button>
</form> -->